//= require bootstrap
.bigmodal {
    width: 90%;
    height: 90%;
    left: 5%;
    margin: 0;
}
.modal-dialog {
    width: 95% !important;
    height: 95% !important;
}
.bigmodal.fade.in {
    top: 5%;
}
.bigmodal .modal-body {
    max-height: none;
}
#editor-container {
    position: relative;
    height: 95%;
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#editor-mask {
    height: 400px;
    overflow-y: hidden;
}
.feature_matrix {
    /* height: 800px; */
}
.feature_matrix aside {
    display: none;
}
.matrix_labels {
    background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f));
    background:-moz-linear-gradient(center top, #005fbf 5%, #003f7f 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
    background: -o-linear-gradient(top, #005fbf, 003f7f);
    background-color:#005fbf;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Arial;
    font-weight:bold;
    color:#ffffff;
}
.feature_matrix a {
    color: inherit;
}
/* .feature_matrix tr:nth-of-type(odd) {
    background-color:#ccc;
}
.feature_matrix tr:nth-of-type(even) {
    background-color:#aad4ff;
}
.feature_matrix aside {
    display: none;
} */
 td {
    padding: 7px 10px;
    vertical-align: top;
    text-align: left;
    border: 1px solid #ddd;
}
.passed {
    background-color: green;
}
.failed {
    background-color: red;
}
.pending {
    background-color: LightGrey;
}

.passed .badge {
    background-color: DarkGreen;
}
.failed .badge {
    background-color: DarkRed;
}
.pending .badge {
    background-color: DarkGrey;
}

/* jquery accordion styling */
 .accordion .ui-accordion-content {
    width: 100%;
    background-color: #f3f3f3;
    color: #777;
    font-size: 10pt;
    line-height: 16pt;
}
.more_info > div {
    display: none;
}
}
.accordion .ui-accordion-header {
    background-color: #fff;
    margin: 0px;
}

.popover {
    z-index:100000000;
}